<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="card-container">
    <% favorites.forEach(favorite => { %>
      <a class="text-decoration-none" href="/games/<%= favorite._id %>">
        <div class="card">
          <img 
            src="<%= favorite.imgUrl %>" 
            alt="<%= favorite.name %>'s avatar"
          >
          <div class="card-body">
            <h1 class="card-title"><%= favorite.name %></h1>
            <% if (isSelf)  {%> 
              <form id="delete-form" action="/profiles/favorites/<%= favorite._id %>?_method=DELETE" method="POST">
                <button type="submit">Remove from Favorites</button>
              </form>
            <% } %>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>