<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>

  <form id="edit-game-form" action="/games/<%= game._id %>?_method=PUT" method="POST">

    <label for="name-input">Name of board game</label>
    <input type="text" name="name" autocomplete="off" id="name-input" value="<%= game.name %>">

    <label for="imgUrl-input">Image url</label>
    <input type="text" name="imgUrl" autocomplete="off" id="imgUrl-input" value="<%= game.imgUrl %>">

    <label for="category-input">Category</label>
    <select name="category" id="category-input">
      <option value="<%= game.category %>"><%= game.category %></option>
      <% otherCategories.forEach(category => { %>
        <option value="<%= category %>"><%= category %></option>
      <% }) %>
    </select>

    <label for="duration-input">Play time</label>
    <select name="duration" id="duration-input">
      <option value="<%= game.duration %>"><%= game.duration %></option>
      <% otherDurations.forEach(duration => { %>
        <option value="<%= duration %>"><%= duration %></option>
      <% }) %>
    </select>

    <label for="minPlayers-input">Minimum Players</label>
    <input type="number" name="minPlayers" id="minPlayers-input" min=1 value="<%= game.minPlayers %>">

    <label for="maxPlayers-input">Maximum Players</label>
    <input type="number" name="maxPlayers" id="maxPlayers-input" min=1 value="<%= game.maxPlayers %>">

    <label for="comlexity-input">Complexity</label>
    <div class="radio-container" id="complexity-input">
      <p>Low</p>
      <% for (let i=1; i<6; i++) { %>
        <input type="radio" name="complexity" value= <%= i %>
          <% if(i===game.complexity) { %>
            checked 
          <% } %>
        >
      <% } %>
      <p>High</p>
    </div>

    <label for="strategy-input">Strategy</label>
    <div class="radio-container" id="strategy-input">
      <p>Low</p>
      <% for (let i=1; i<6; i++) { %>
        <input type="radio" name="strategy" value= <%= i %>
          <% if(i===game.strategy) { %>
            checked 
          <% } %>
        >
      <% } %>
      <p>High</p>
    </div>

    <label for="luck-input">Luck</label>
    <div class="radio-container" id="luck-input">
      <p>Low</p>
      <% for (let i=1; i<6; i++) { %>
        <input type="radio" name="luck" value= <%= i %>
          <% if(i===game.luck) { %>
            checked 
          <% } %>
        >
      <% } %>
      <p>High</p>
    </div>

    <label for="online-input">Play online?</label>
    <input type="checkbox" name="online" id="online-input" <%= game.online ? "checked" : "" %>>

    <label for="year-input">Release Year</label>
    <input type="number" name="year" id="year-input" value="<%= game.year %>">

    <label for="description-input">Description</label>
    <textarea type="text" name="description" id="description-input" autocomplete="off"><%= game.description %></textarea>

    <button type="submit">Save Changes</button>
  </form>
  
  <form id="delete-form" action="/games/<%= game._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Game</button>
  </form>

</main>

<%- include('../partials/footer') %>
