<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/forms.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
    <label for="rating-input">Rate:</label>
    <select name="rating" id="rating-input" >
      <option value="<%= review.rating %>"><%= review.rating %></option>
      <% otherRatings.forEach(score => { %>
        <option value="<%= score %>"><%= score %></option>
      <% }) %>
    </select><br>

    <textarea type="text" name="content" id="review-input" autocomplete="off"><%= review.content %></textarea>
    <button type="submit" id="review-btn">Update Review</button>
  </form>
</section>

<%- include('../partials/footer') %>