<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Avg Rating</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach((game) => { %>
      <tr>
        <td><a href="/games/<%= game._id %>"><img 
          src="<%= game.imgUrl %>"
          alt="<%= game.name %>"
        ></a></td>
        <td><a href="/games/<%= game._id %>"><%= game.name %></a></td>
        <td><%= game.avgRating %></td>
        <td><%= game.totReviews %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
