<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>

<main>
  <section class="game-image">
    <img src="<%= game.imgUrl %>" alt="<%= game.name %>">
  </section>

  <section class="game-header">
    <h1><%= game.name %></h1>
    <% if (user) { %>
      <form action="/profiles/games/<%= game._id %>" method="POST">
        <button>
          <i class="fa-solid fa-heart-circle-plus fa-xl"></i>
        </button>
      </form>
    <% } %>
    <% if (game.owner.equals(user?.profile._id)) { %>
      <a href="/games/<%= game._id %>/edit">
        <button>
          <i class="fa-solid fa-pen-to-square fa-xl"></i>
        </button>
      </a>
    <% } %>
    <% if (game.totReviews) { %>
      <h3><%= game.totReviews %></h3>
      <h3><%= game.avgRating %></h3>
    <% } %>
  </section>

  <section class="left">
  <table>
    <tr>
      <td>Released <%= game.year %></td>
      <td>Categories <%= game.category %></td>
      <td>Complexity <%= game.complexity %></td>
    </tr>

  </section>
    <tr>
      <td><%= game.online ? 'Available online!' : 'Not Online'%></td>
      <td>Players <%= game.minPlayers %> - <%= game.maxPlayers %></td>
      <td>Strategy <%= game.strategy %></td>
    </tr>
    <tr>
      <td>Created by <%= game.owner.name  %></td>
      <td>Game Play <%= game.duration %></td>
      <td>Luck <%= game.luck %></td>
    </tr>
  </table>

  <section>
    <h2>Reviews</h2>
    <% if (user) { %>
      <h3>Add a review</h3>
      <form action="/games/<%= game._id %>/reviews" method="POST">
        <label for="rating-input">Rate:</label>
        <select name="rating" id="rating-input" >
          <% ratingOptions.forEach(score => { %>
            <option value="<%= score %>"><%= score %></option>
          <% }) %>
        </select><br>
        <textarea type="text" name="content" id="review-input" autocomplete="off"></textarea><br>
        <button id="review-btn">Post Review</button>
      </form>
    <% } %>
    <ul>
      <% game.reviews?.forEach(review => { %>
        <li> <%= review.rating %> - <%= review.content %> - <%= review.author.name %> </li> 
        <% if (review.author.equals(user?.profile._id)) { %>
          <a href="/games/<%= game._id %>/reviews/<%= review._id %>/edit">
            <button class="btn">Edit Comment</button>
          </a>
          <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit" id="delete-btn">Delete Comment</button>
          </form>
        <% } %> 
      <% }) %>
    </ul>
  </section>


</main>

<%- include('../partials/footer') %>
