<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>

<main>
  <section class="game-image">
    <img src="<%= game.imgUrl %>" alt="<%= game.name %>">
  </section>

  <section class="game-header">
    <div class="name-fav-edit">
      <h1><%= game.name %></h1>
        <div class="fav-edit-btns">

        <% if (user) { %>
          <% if(isUserFav){ %>
            <form id="remove-fav-form" action="/profiles/<%= profile._id %>/favorites/<%= game._id  %>?_method=DELETE" method="POST">
              <button type="submit" id="remove-fav-btn">
                <i class="fa-solid fa-heart-circle-minus fa-2xl"></i>
              </button>
            </form>
          <% } else { %>
            <form action="/profiles/<%=profile._id%>/favorites/<%= game._id %>" method="POST">
              <button type="submit" id="add-fav-btn">
                <i class="fa-solid fa-heart-circle-plus fa-2xl"></i>
              </button>
            </form>
          <% } %>

          <% if (game.owner.equals(user?.profile._id)) { %>
            <a href="/games/<%= game._id %>/edit">
              <button>
                <i class="fa-solid fa-pen-to-square fa-2xl"></i>
              </button>
            </a>
          <% } %>
        <% } %>
      </div>

    </div>
    <div class="avgRating">
      <% if (game.totReviews) { %>
        <% for(let i=0; i<game.avgRating; i++){%>
          ⭐️ 
        <%} %>
        <p>(<%= game.totReviews %> reviews)</p>
      <% } %>
    </div>
  </section>

  <section class="left">
    <div>
      <p>Released <%= game.year %></p>
    </div>
    <div>
      <p><%= game.online ? 'Play online!' : 'Not online'%></p>
    <div>
    <div>
      <p>Posted by <%= game.owner.name %></p>
    </div>
  </section>

  <section class="middle">
    <div>
      <p>Category</p>
      <span class="label"><%= game.category %></span> 
    </div>
    
    <div>
      <i class="fa-solid fa-user-group fa-lg"></i>
      <p><%= game.minPlayers %> - <%= game.maxPlayers %></p>
    </div>

    <div>
      <i class="fa-solid fa-clock fa-lg"></i>
      <p><%= game.duration %></p>  
    </div>
  </section>

  <section class="right">
    <div>
      <p>Complexity</p>
      <span class="label <%= game.complexity <= 2 ? "low" : game.complexity <= 4 ? "med" : "high" %>"><%= game.complexity %> / 5</span>
    </div>
    <div>
      <p>Strategy</p>
      <span class="label <%= game.strategy <= 2 ? "low" : game.strategy <= 4 ? "med" : "high" %>"><%= game.strategy %> / 5</span>
    </div>
    <div>
      <p>Luck</p>
      <span class="label <%= game.luck <= 2 ? "low" : game.luck <= 4 ? "med" : "high" %>"><%= game.luck %> / 5</span>
    </div>
  </section>

  <section class="description">
    <p><%= game.description %></p>
  </section>
    
  <section class="reviews">
    <h3>Reviews</h3>
    <% if (user) { %>
      <form action="/games/<%= game._id %>/reviews" method="POST" id="review-form">
 
          <label for="rating-input">Rate:</label>
          <div class="star-cb-group" id="rating-input">
            <input type="radio" id="rating-5" name="rating" value="5" />
            <label for="rating-5">5</label>
            <input type="radio" id="rating-4" name="rating" value="4"  />
            <label for="rating-4">4</label>
            <input type="radio" id="rating-3" name="rating" value="3" />
            <label for="rating-3">3</label>
            <input type="radio" id="rating-2" name="rating" value="2" />
            <label for="rating-2">2</label>
            <input type="radio" id="rating-1" name="rating" value="1" checked="checked"/>
            <label for="rating-1">1</label>
            <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" />
            <label for="rating-0">0</label>
          </div>

        <textarea type="text" name="content" id="review-text-input" autocomplete="off"></textarea>

        <button id="post-review-btn">Post Review</button>
      </form>
    <% } %>

    <% game.reviews?.forEach(review => { %>
      <div class="review-container">
        <div class="all-but-review">
          <% for(let i=0; i<review.rating; i++){%>
            ⭐️ 
          <%}%>
          <div class="author-btns">
            <p><%= review.author.name %> </p>
            <% if (review.author.equals(user?.profile._id)) { %>
              <a href="/games/<%= game._id %>/reviews/<%= review._id %>/edit">
                <button>
                  <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </button>
              </a>
              <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit">
                  <i class="fa-regular fa-trash-can fa-lg"></i>
                </button>
              </form>
            <% } %> 
          </div>
        </div>
        <% if (review.content) { %>
          <p> <%= review.content %> </p>
        <% } %>

      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
