<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>

<main>
  <section class="game-image">
    <img src="<%= game.imgUrl %>" alt="<%= game.name %>">
  </section>

  <section class="game-header">
    <div class="name-fav-edit">
      <h1><%= game.name %></h1>
      <% if (user) { %>
        <form action="/profiles/games/<%= game._id %>" method="POST">
          <button>
            <i class="fa-solid fa-heart-circle-plus fa-xl"></i>
          </button>
        </form>
      <% } %>
      <% if (game.owner.equals(user?.profile._id)) { %>
        <a href="/games/<%= game._id %>/edit">
          <button>
            <i class="fa-solid fa-pen-to-square fa-xl"></i>
          </button>
        </a>
      <% } %>
    </div>
    <div class="avgRating">
      <% if (game.totReviews) { %>
        <!-- <h3><%#= game.avgRating %></h3> -->
        <% for(let i=0; i<game.avgRating; i++){%>
          ⭐️ 
        <%} %>
        <p>(<%= game.totReviews %> reviews)</p>
      <% } %>
    </div>
  </section>

  <section class="left">
    <p>Released <%= game.year %></p>
    <p><%= game.online ? 'Play online!' : 'Not online'%></p>
    <p>Posted by <%= game.owner.name %></p>
  </section>

  <section class="middle">
    <div>
      <p>Category</p>
      <span class="label"><%= game.category %></span> 
    </div>
    
    <div>
      <i class="fa-solid fa-user-group fa-lg"></i>
      <p><%= game.minPlayers %> - <%= game.maxPlayers %></p>
    </div>

    <div>
      <i class="fa-solid fa-clock fa-lg"></i>
      <p><%= game.duration %></p>  
    </div>
  </section>

  <section class="right">
    <div>
      <p>Complexity</p>
      <span class="label <%= game.complexity <= 2 ? "low" : game.complexity <= 4 ? "med" : "high" %>"><%= game.complexity %> / 5</span>
    </div>
    <div>
      <p>Strategy</p>
      <span class="label <%= game.strategy <= 2 ? "low" : game.strategy <= 4 ? "med" : "high" %>"><%= game.strategy %> / 5</span>
    </div>
    <div>
      <p>Luck</p>
      <span class="label <%= game.luck <= 2 ? "low" : game.luck <= 4 ? "med" : "high" %>"><%= game.luck %> / 5</span>
    </div>
  </section>
    
  <section class="reviews">
    <h3>Reviews</h3>
    <% if (user) { %>
      <form action="/games/<%= game._id %>/reviews" method="POST" id="review-form">
        <!-- <div class="rating-input"> -->
          <label for="rating-input">Rate:</label>
          <!-- <select name="rating" id="rating-input" >
            <%# ratingOptions.forEach(score => { %>
              <option value="<%#= score %>"><%#= score %></option>
            <%# }) %>
          </select><br> -->
          
          <div class="star-container" id="rating-input">
            <input type="radio" name="rating" class="star" value="5">
            <input type="radio" name="rating" class="star" value="4">
            <input type="radio" name="rating" class="star" value="3">
            <input type="radio" name="rating" class="star" value="2">
            <input type="radio" name="rating" class="star" value="1">
          </div>
        <!-- </div> -->

        <textarea type="text" name="content" id="review-text-input" autocomplete="off"></textarea>

        <button id="post-review-btn">Post Review</button>
      </form>
    <% } %>

    <% game.reviews?.forEach(review => { %>
      <div class="review-container">
        <div class="all-but-review">
          <% for(let i=0; i<review.rating; i++){%>
            ⭐️ 
          <%}%>
          <div class="author-btns">
            <p><%= review.author.name %> </p>
            <% if (review.author.equals(user?.profile._id)) { %>
              <a href="/games/<%= game._id %>/reviews/<%= review._id %>/edit">
                <button>
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </a>
              <form action="/games/<%= game._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button>
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </form>
            <% } %> 
          </div>
        </div>
        <p><%= review.content %> </p>
      </div>
    <% }) %>

  </section>


</main>

<%- include('../partials/footer') %>
